<section class="section-panel-dark py-16 sm:py-20">
  <div class="page-shell">
    <div class="layout-grid">
      <div class="section-content">
        <div class="mb-6 text-[3rem] leading-none text-white/90">
          &ldquo;
        </div>
        <blockquote class="section-heading-inverse m-0 tracking-[-0.03em]">
          I'm so impressed by how this team has stuck to our very ambitious timeline of having the POC complete by December/January. Well done!
        </blockquote>
        <p class="mt-8 text-[1rem] text-white/72">
          Andy Wright, Department of State
        </p>
      </div>
    </div>
  </div>
</section>
